<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/awesomeHeader :: awesomeHeader">
    <meta charset="UTF-8" />
    <title>Create</title>
</head>
<body>

<nav th:replace="partials/awesomeNav :: awesomeNav"></nav>

<h1>Create Your Post</h1>

<div id="createform" class="page-login-form box">
<form th:action="@{'/posts/create'}" method="POST" role="form" class="login-form" th:object="${post}">
    <div class="form-group">
        <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="Title" />
        <p class="alert" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    </div>
    <div class="form-group">
        <textarea id="description" th:field="*{body}" class="form-control" placeholder="Type Here"></textarea>
        <p class="alert" th:if="${#fields.hasErrors('body')}" th:errors="*{body}"></p>
    </div>
    <button type="submit" class="btn btn-info">Submit</button>
    </form>

</div>

<footer class="fixed-to-bottom"  th:replace="partials/awesomeFoot :: awesomeFoot"></footer>
</body>
</html>