<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/awesomeHeader :: awesomeHeader">
    <meta charset="UTF-8" />
    <title>Edit</title></head>
<body>
    <nav th:include="partials/awesomeNav :: awesomeNav"></nav>

<!--<h1 th:text="*{title}">Edit </h1>-->

<div id="createform" class="page-login-form box">
    <form th:action="@{'/posts/' + *{id} + '/edit'}" th:method="POST" role="form" class="login-form" th:object="${post}">
        <div class="form-group">
            <input type="text" id="title" class="form-control" th:field="*{title}" placeholder="Title" />
        </div>
        <div class="form-group">
            <textarea id="description" th:field="*{body}" class="form-control" placeholder="Description"></textarea>
        </div>

        <button type="submit" class="btn btn-info">Edit</button>
    </form>

</div>
</body>
</html>