<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<nav th:fragment="awesomeNav" class="nav ">

       <span> <a href="/posts"><span class="glyphicon glyphicon-home "></span>Home</a></span>
        <span><a href="/posts/create"><span class="glyphicon glyphicon-pencil"></span>Make A Post</a></span>
        <span><a href="/login"><span class="glyphicon glyphicon-log-in"></span>Login</a></span>
        <span><a href="/register"><span class="glyphicon glyphicon-user"></span>Register</a></span>
</nav>

</body>
</html>>