<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>

<nav th:fragment="awesomeNav" class="navbar navbar-default">

        <a href="/posts"><span class="glyphicon glyphicon-home "></span>Home</a>
        <a href="/posts/create"><span class="glyphicon glyphicon-pencil"></span>Make A Post</a>
        <a href="/posts/login"><span class="glyphicon glyphicon-log-in"></span>Login</a>
        <a href="/posts/login"><span class="glyphicon glyphicon-user"></span>Register</a>
</nav>

</body>
</html>>