body{
    background-color: ghostwhite;
    font-family:'DejaVu Sans Mono','monospace';
}

.navbar{
    display: flex;
    justify-content: center space-around;
    padding-top: 2%;
    font-size: 1.2em;
    color:whitesmoke;
}

nav a{
    color:whitesmoke;
}

nav a:hover{
    color:lightskyblue;
}
h1{
    color:Black;
    display: flex;
    justify-content: center;
}

#createform{
    padding:.5% 20% .5% 20%;

}

#posts{
    background-color: yellow;
}

.view-post{
    padding-left: 45%;
}
