body{
    background-color: white;
    font-family:'DejaVu Sans Mono','monospace';
}

.navbar{
    padding-top: 2%;
    font-size: 1.2em;
    background-color:steelblue;
}

nav a{
    color:white;
}

nav a:hover{
    color:goldenrod;
}
h1{
    color:Black;
    display: flex;
    justify-content: center;
}

#createform{
    padding:.5% 20% .5% 20%;

}

#posts{
    background-color: yellow;
}

.view-post{
    padding-left: 45%;
}

.glyphicon{
    padding-right: 5px;
}

#individual-post{
    padding-left: 20%;
    padding-right: 20%;
}

footer{
    padding-top:2%;
    padding-bottom: 2%;
    background-color: steelblue;
    color: white;
    font-size: 1.2em;
    text-align: center;
}

.container{
    padding-bottom: 1%;
}
